#!/usr/bin/env python

import os

CATALINA_USER = '{{ unix_user_name }}'
CATALINA_HOME = os.path.join('/home', CATALINA_USER, 'opt', 'tomcat')
CATALINA_BASE = CATALINA_HOME

CATALINA_OPTS = ''
CATALINA_TMPDIR = os.path.join(CATALINA_BASE, 'tmp')
JAVA_HOME = ''
JAVA_OPTS = '-XX:MaxPermSize=256m -Xms256m -Xmx1024m'
CLASSPATH = ''
JAVA_ENDORSED_DIRS = ''
JPDA_TRANSPORT = 'dt_socket'
JPDA_ADDRESS = '{{ openclinica_debug_port }}'
JPDA_SUSPEND = 'n'

LOGGING_CONFIG = '-Djava.util.logging.config.file=' +\
        os.path.join(CATALINA_BASE, 'conf', 'logging.properties')
LOGGING_MANAGER = '-Djava.util.logging.manager=org.apache.juli.' +\
        'ClassLoaderLogManager'


# initialization

CATALINA_OPTS += ' -Dorg.apache.el.parser.SKIP_IDENTIFIER_CHECK=true'
CATALINA_OPTS = CATALINA_OPTS.strip()

JPDA_OPTS = '-agentlib:jdwp=transport=%s,address=%s,server=y,suspend=%s' % (
        JPDA_TRANSPORT, JPDA_ADDRESS, JPDA_SUSPEND)

if JAVA_HOME:
    RUN_JAVA = os.path.join(JAVA_HOME, 'bin', 'java')
else:
    RUN_JAVA = os.path.realpath('/usr/bin/java')
    JAVA_HOME = os.path.dirname(os.path.dirname(RUN_JAVA))

if not JAVA_ENDORSED_DIRS:
    JAVA_ENDORSED_DIRS = os.path.join(CATALINA_HOME, 'endorsed')

CLASSPATH += ':' + os.path.join(CATALINA_HOME, 'bin', 'bootstrap.jar')
if os.path.exists(os.path.join(CATALINA_BASE, 'bin', 'tomcat-juli.jar')):
    CLASSPATH += ':' + os.path.join(CATALINA_BASE, 'bin', 'tomcat-juli.jar')
else:
    CLASSPATH += ':' + os.path.join(CATALINA_HOME, 'bin', 'tomcat-juli.jar')
CLASSPATH = CLASSPATH.strip(':')

os.environ['CATALINA_HOME'] = CATALINA_HOME
os.environ['CATALINA_BASE'] = CATALINA_BASE

args = [RUN_JAVA, LOGGING_CONFIG, LOGGING_MANAGER]
args.extend(JAVA_OPTS.split())
args.extend(CATALINA_OPTS.split())
args.extend(JPDA_OPTS.split())
args.append('-Djava.endorsed.dirs=' + JAVA_ENDORSED_DIRS)
args.append('-classpath')
args.append(CLASSPATH)
args.append('-Dcatalina.base=' + CATALINA_BASE)
args.append('-Dcatalina.home=' + CATALINA_HOME)
args.append('-Djava.io.tmpdir=' + CATALINA_TMPDIR)
args.append('org.apache.catalina.startup.Bootstrap')
args.append('start')

# redirect stderr to stdout
STDOUT_FILENO = 1
STDERR_FILENO = 2
os.dup2(STDOUT_FILENO, STDERR_FILENO)

os.execv(RUN_JAVA, args)
