#!/usr/bin/env python

import os

os.chdir(os.path.expanduser('~/workspace/{{ enketo_id }}'))
os.environ['DEBUG'] = '*'

args = ['node', '.']

# redirect stderr to stdout
STDOUT_FILENO = 1
STDERR_FILENO = 2
os.dup2(STDOUT_FILENO, STDERR_FILENO)

os.execvp(args[0], args)
