#!/usr/bin/env python

import os

args = [
    'chpst',
    '-e',
    '/var/lib/user_runit_env/{{ unix_user_name }}',
    '-u',
    '{{ unix_user_name }}:{{ unix_user_name }}',
    'svlogd',
    '-tt',
    '/home/{{ unix_user_name }}/logs/fake_smtp',
]
os.execvp(args[0], args)
