#!/usr/bin/env python

import os, psutil, signal, sys

os.chdir(os.path.expanduser('~/workspace/{{ participate_id }}'))

os.environ['SERVER_PORT'] = '{{ participate_port }}'
os.environ['SPRING_DATASOURCE_DATABASENAME'] = '{{ participate_db_name }}'
os.environ['SPRING_DATASOURCE_SERVERNAME'] = '{{ participate_db_host }}'
os.environ['SPRING_DATASOURCE_USERNAME'] = '{{ participate_db_user }}'
os.environ['SPRING_DATASOURCE_PASSWORD'] = '{{ participate_db_pass }}'
os.environ['SPRING_MAIL_BASEURL'] =\
        '{{ participate_protocol | default(server_protocol) }}://' +\
        '{{ participate_hostname | default(server_hostname) }}:' +\
        '{{ participate_port }}{{ participate_servlet_context }}'
os.environ['SPRING_UPLOAD_ROOT'] = '{{ participate_uploads_directory }}'
os.environ['OCFORM_URL'] =\
        '{{ enketo_protocol | default(server_protocol) }}://' +\
        '{{ enketo_hostname | default(server_hostname) }}:{{ enketo_port }}'
os.environ['OCFORM_ADMINAPIKEY'] = '{{ enketo_admin_apikey }}'
os.environ['OCFORM_SALESEMAILADDRESS'] = '{{ participate_sales_email }}'

args = ['mvn']

if len(sys.argv) > 1:
    args += sys.argv[1:]
else:
    args += ['spring-boot:run']

# redirect stderr to stdout
STDOUT_FILENO = 1
STDERR_FILENO = 2
os.dup2(STDOUT_FILENO, STDERR_FILENO)

process = None

def signal_handler(signum, frame):
    for cp in process.get_children():
        cp.terminate()

signal.signal(signal.SIGINT, signal_handler)
signal.signal(signal.SIGTERM, signal_handler)

process = psutil.Popen(args)
exit(process.wait())
