#!/usr/bin/env python

import os

os.chdir(os.path.expanduser('~/workspace/{{ participate_id }}'))

os.environ['PARTICIPATE_HOSTNAME'] = '{{ participate_hostname | default(server_hostname) }}'
os.environ['PARTICIPATE_PORT'] = '{{ participate_port }}'
os.environ['PARTICIPATE_LIVERELOAD_PORT'] = '{{ participate_livereload_port }}'

args = ['grunt', 'server']

os.execvp(args[0], args)
