#!/bin/bash
#
# user_runit  Run runit services as user
#
# chkconfig: 345 70 30
# description: Run runit services as user
# processname: user_runit

if [[ -d /run ]]
then
    PIDFILE=/run/user_runit.pid
else
    PIDFILE=/var/run/user_runit.pid
fi

PID="`cat $PIDFILE 2>/dev/null`"
PID=${PID:-0}

case "$1" in
  start)
    ps -p "$PID" &>/dev/null && exit 0
    chpst -e /var/lib/user_runit_env/{{ unix_user_name }} -u {{ unix_user_name }}:{{ unix_user_name }} runsvdir /home/{{ unix_user_name }}/service &
    if [ $? -eq 0 ]
    then
        echo "$!" > $PIDFILE
    else
        exit 1
    fi
    ;;

  stop)
    kill -s HUP `cat $PIDFILE` 2>/dev/null || exit 1
    ;;

  restart)
    kill -s HUP `cat $PIDFILE` 2>/dev/null
    chpst -e /var/lib/user_runit_env/{{ unix_user_name }} -u {{ unix_user_name }}:{{ unix_user_name }} runsvdir /home/{{ unix_user_name }}/service &
    if [ $? -eq 0 ]
    then
        echo "$!" > $PIDFILE
    else
        exit 1
    fi
    ;;
esac
exit 0 
