#!/bin/bash
#
# user_runit  Run runit services as user
#
# chkconfig: 345 70 30
# description: Run runit services as user
# processname: user_runit

if [[ -d /run ]]
then
    PIDFILE=/run/user_runit.pid
else
    PIDFILE=/var/run/user_runit.pid
fi

PID="`cat $PIDFILE 2>/dev/null`"
PID=${PID:-0}

case "$1" in
  start)
    ps -p "$PID" &>/dev/null && exit 0
    start-stop-daemon --start --pidfile $PIDFILE --make-pidfile --background --exec /usr/bin/chpst -- -e /var/lib/user_runit_env/{{ unix_user_name }} -u {{ unix_user_name }}:{{ unix_user_name }} /usr/bin/runsvdir /home/{{ unix_user_name }}/service
    ;;

  stop)
    start-stop-daemon --stop --signal HUP --retry 30 --pidfile $PIDFILE
    ;;

  restart)
    start-stop-daemon --stop --signal HUP --retry 30 --pidfile $PIDFILE
    start-stop-daemon --start --pidfile $PIDFILE --make-pidfile --background --exec /usr/bin/chpst -- -e /var/lib/user_runit_env/{{ unix_user_name }} -u {{ unix_user_name }}:{{ unix_user_name }} /usr/bin/runsvdir /home/{{ unix_user_name }}/service
    ;;
esac
exit 0 
